<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="index">
<head lang="zh-cn">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>爱Java</title>

    <!-- Bootstrap -->
    <link href="/goldbootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/lrtk.css" />
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <style>
        body {
            font-family: Georgia, "Times New Roman", Times, serif;
            padding-top: 65px;
            background-repeat:REPEAT-Y;
            background-image: url(/imgs/back6.jpg);
            background-size:100% 35%;
        }
        /*.row{
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f000000',endColorstr='#3f000000');
            background-color:rgba(255, 255, 255, 0.3);
        }*/
        .footer {
            padding-top: 35px
        }
        .lazy {
            display: none;
        }
        /*第一块栏日期样式*/
        .date {
            color: grey;
            font-family: verdana, '宋体', arial, sans-serif;
        }

        .row a {
            color: #00608d;
            font-size: 13px;
            font-family: verdana, '宋体', arial, sans-serif
        }
        .row {
            min-height: 250px;
        }
        .page-header span{
            float: right;
        }
        .list-unstyled span{
            float: right;
            color: grey;
            font-family: verdana, '宋体', arial, sans-serif;
        }

        /*li超链接超出部分省略号显示*/
        .list-unstyled li {
            display: block;
            font-size: 14px;
            height: 16px;
            line-height: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis
        }


    </style>
</head>
<body>

<!--首页导航栏-->
<div th:include="header :: head"></div>
<!--首页导航栏结束-->

<div id="botAgregar"></div>
<div class="container" style="opacity:0.8;filter:alpha(opacity=10);">
    <!--左侧大栏区域-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="well well-lg">
                <div class="page-header-lg">
                    现在
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-6 col-md-6">
                        <a href="#" class="thumbnail">
                            <img data-original="/imgs/indexPhoto1.jpg" class="lazy"
                                 alt="通用的占位符缩略图" />
                            <noscript><img src="/imgs/indexPhoto1.jpg" /></noscript>
                        </a>
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-xs-7 col-sm-9 col-md-9">
                                <div class="page-header">
                                    最新
                                </div>
                                <ul class="list-unstyled">
                                    <li th:each="blog:${newBlogs}"><i class="fa fa-link"></i> <a th:title="${blog.title}" th:text="${blog.title}" th:href="'/article/blog/'+${blog.id}" ></a></li>
                                    <!--<li><i class="fa fa-link"></i> <a href="/blogPage?id=1">要想成为优秀的程序员？多阅读是关键</a></li>-->
                                </ul>
                            </div>
                            <div class="col-xs-5 col-sm-3 col-md-3 date">
                                <div class="page-header">
                                    <a href="/article/blog/more/new/0">更多</a>
                                </div>
                                <ul class="list-unstyled">
                                    <li th:each="blog:${newBlogs}" th:text="${#dates.format(blog.publishTime, 'MM-dd')}"></li>
                                    <!--<li>3-29</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--在此增加左侧大栏-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-lg">
                        <div class="page-header-lg">
                            博文
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    Java<span><a href="/article/blog/more/blog_java/0">更多</a></span>
                                </div>
                                <ul id="javaBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    JavaScript<span><a href="/article/blog/more/blog_javaScript/0">更多</a></span>
                                </div>
                                <ul id="javaScriptBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 25px">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    数据结构<span><a href="/article/blog/more/blog_dataStructure/0">更多</a></span>
                                </div>
                                <ul id="dataStructureBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    计算机算法<span><a href="/article/blog/more/blog_arithmetic/0">更多</a></span>
                                </div>
                                <ul id="arithmeticBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 25px">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    数据库技术<span><a href="/article/blog/more/blog_database/0">更多</a></span>
                                </div>
                                <ul id="databaseBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    编程思想<span><a href="/article/blog/more/blog_programmingIdea/0">更多</a></span>
                                </div>
                                <ul id="programmingIdeaBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 25px">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    操作系统<span><a href="/article/blog/more/blog_operatingSystem/0">更多</a></span>
                                </div>
                                <ul id="operatingSystemBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    前端设计<span><a href="/article/blog/more/blog_pageDesign/0">更多</a></span>
                                </div>
                                <ul id="pageDesionBlogs" class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-lg">
                        <div class="page-header-lg">
                            人生
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    沧海一粟<span><a href="#">更多</a></span>
                                </div>
                                <ul class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="page-header">
                                    星辰大海<span><a href="#">更多</a></span>
                                </div>
                                <ul class="list-unstyled">
                                    <!--<li>Item 1<span>07-01</span></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-lg">
                        <div class="page-header-lg">
                            在路上
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <ul class="list-unstyled">
                                    <!--<li>Item 1</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <!--右侧小菜单区域-->
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-lg">
                        <div class="page-header-lg">
                            I Love Java 《学习园地》
                        </div>
                        <p>
                            当初设立这个版块只为收集好的文章和知识，
                            但现在想把这个版块作为一个温馨安静的学习园地，阳光、温暖、安静、温柔、田园都是我喜欢的形容词，
                            也将会是形容这个版块的最适合的词语。
                        </p>
                        <br/>
                        <p>
                            愿你喜欢。
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-lg">
                        <div class="page-header-lg">
                            在线人数
                        </div>
                        <!--<div th:include="dataStatistics :: cps"></div>-->
                        <!--<ul class="list-unstyled">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                        </ul>-->
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-lg">
                        <div class="page-header-lg">
                            标题
                        </div>
                        <ul class="list-unstyled">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-lg">
                        <div class="page-header-lg">
                            标题
                        </div>
                        <ul class="list-unstyled">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <!--<div class="row">
        <div class="col-xs-6 col-sm-8">
            <div class="well well-lg">
                <div class="page-header-lg">
                    标题
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="page-header">
                            标题
                        </div>
                        <ul class="list-unstyled">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="page-header">
                            标题
                        </div>
                        <ul class="list-unstyled">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->


    <!--<div class="row footer">
        <div class="col-xs-6 col-sm-12">
            <p class="text-center">© 2016  test.net  All Rights Reserved.</p>
        </div>
    </div>-->
    <!--<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
        Javascript and reload this page!</h2></noscript>
    <div>
        <div>
            <button id="connect" onclick="connect();">Connect</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
        </div>
        <div id="conversationDiv">
            <label>What is your name?</label><input type="text" id="name" />
            <button id="sendName" onclick="sendName();">Send</button>
            <p id="response"></p>
        </div>
    </div>-->


    <!--首页页脚-->
    <div th:include="footer :: foot"></div>
    <!--首页页脚结束-->

    <!--container结束-->
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="/bootstrap/js/jquery-1.11.1.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/goldbootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/my/Request.js"></script>
<script type="text/javascript" src="/js/my/Constant.js"></script>
<script type="text/javascript" src="/js/my/yezi.js"></script>
<script type="text/javascript" src="/js/otherJs/jquery.lazyload.min.js"></script>
<!--<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
</body>
</html>
<script>
$(function(){
    $.AutomLeafStart({leafsfolder:"/imgs/yezi/",howmanyimgsare:8,initialleafs:10,maxYposition:-10,multiplyclick:true,multiplynumber:2,infinite:true,fallingsequence:6000});$("#botAgregar").on("click",function(){$.AutomLeafAdd({leafsfolder:"/imgs/yezi/",add:8})});

    $("img.lazy").show().lazyload({
        //placeholder : "imgs/Koala.jpg", //用图片提前占位
        // placeholder,值为某一图片路径.此图片用来占据将要加载的图片的位置,待图片加载时,占位图则会隐藏
        effect: "fadeIn" // 载入使用何种效果
        // effect(特效),值有show(直接显示),fadeIn(淡入),slideDown(下拉)等,常用fadeIn
        //threshold: 200, // 提前开始加载
        // threshold,值为数字,代表页面高度.如设置为200,表示滚动条在离目标位置还有200的高度时就开始加载图片,可以做到不让用户察觉
        //event: 'click',  // 事件触发时才加载
        // event,值有click(点击),mouseover(鼠标划过),sporty(运动的),foobar(…).可以实现鼠标莫过或点击图片才开始加载,后两个值未测试…
       // container: $("#container"),  // 对某容器中的图片实现效果
        // container,值为某容器.lazyload默认在拉动浏览器滚动条时生效,这个参数可以让你在拉动某DIV的滚动条时依次加载其中的图片
        //failurelimit : 10 // 图片排序混乱时
        // failurelimit,值为数字.lazyload默认在找到第一张不在可见区域里的图片时则不再继续加载,但当HTML容器混乱的时候可能出现可见区域内图片并没加载出来的情况,failurelimit意在加载N张可见区域外的图片,以避免出现这个问题.
    });
    /**
     * 先加载 Java板块和Javascript板块
     */
    Request.get("/article/IndexJavaScriptBlogList",{},function(response){
        $.each(response,function(i,blog){
            var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/'+blog.id+'">'+blog.title+'</a><span>'+blog.publishTime.substring(5)+'</span></li>';
            $("#javaScriptBlogs").append(blogtitle);
        });
    });
    Request.get("/article/IndexJavaBlogList",{},function(response){
        $.each(response,function(i,blog){
            var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/'+blog.id+'">'+blog.title+'</a><span>'+blog.publishTime.substring(5)+'</span></li>';
            $("#javaBlogs").append(blogtitle);
        });
    });
    var firstBlogFlag = true,secondBlogFlag = true,thridBlogFlag = true;
    $(window).scroll(function() {
        var s =$(window).scrollTop();
        if(firstBlogFlag){
            if (s >= 250) {//数据结构，计算机算法板块
                firstBlogFlag = false;
                //数据结构
                Request.get("/article/IndexDataStructureBlogList", {}, function (response) {
                    $.each(response, function (i, blog) {
                        var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/' + blog.id + '">' + blog.title + '</a><span>' + blog.publishTime.substring(5) + '</span></li>';
                        $("#dataStructureBlogs").append(blogtitle);
                    });
                });
                //计算机算法
                Request.get("/article/IndexArithmeticBlogList", {}, function (response) {
                    $.each(response, function (i, blog) {
                        var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/' + blog.id + '">' + blog.title + '</a><span>' + blog.publishTime.substring(5) + '</span></li>';
                        $("#arithmeticBlogs").append(blogtitle);
                    });
                });

            }
        }
        if(secondBlogFlag){
            if (s >= 340) {//数据库技术，编程思想板块
                secondBlogFlag = false;
                //数据库技术
                Request.get("/article/IndexDatabaseBlogList", {}, function (response) {
                    $.each(response, function (i, blog) {
                        var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/' + blog.id + '">' + blog.title + '</a><span>' + blog.publishTime.substring(5) + '</span></li>';
                        $("#databaseBlogs").append(blogtitle);
                    });
                });
                //编程思想
                Request.get("/article/IndexProgrammingIdeaBlogList", {}, function (response) {
                    $.each(response, function (i, blog) {
                        var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/' + blog.id + '">' + blog.title + '</a><span>' + blog.publishTime.substring(5) + '</span></li>';
                        $("#programmingIdeaBlogs").append(blogtitle);
                    });
                });

            }
        }
        if(thridBlogFlag){
            if (s >= 430) {//操作系统，前端设计板块
                thridBlogFlag = false;
                //操作系统
                Request.get("/article/IndexOperatingSystemBlogList", {}, function (response) {
                    $.each(response, function (i, blog) {
                        var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/' + blog.id + '">' + blog.title + '</a><span>' + blog.publishTime.substring(5) + '</span></li>';
                        $("#operatingSystemBlogs").append(blogtitle);
                    });
                });
                //前端设计
                Request.get("/article/IndexPageDesignBlogList", {}, function (response) {
                    $.each(response, function (i, blog) {
                        var blogtitle = '<li><i class="fa fa-link"></i> <a href="/article/blog/' + blog.id + '">' + blog.title + '</a><span>' + blog.publishTime.substring(5) + '</span></li>';
                        $("#pageDesionBlogs").append(blogtitle);
                    });
                });

            }
        }
        //滚动条到达底部,重新绑定滚动事件
        if($(document).scrollTop() >= $(document).height() - $(window).height()){
            $(window).scroll(function(){

            });
        }


    });

});
</script>