package cn.ilovejava.service;

import cn.ilovejava.baseBean.BaseRepository;
import cn.ilovejava.baseBean.BaseService;
import cn.ilovejava.dao.${moduleName}Repository;
import cn.ilovejava.entity.${moduleName};
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* Created by ${developer} on ${now}.
*/
@Service
@Transactional
public class ${moduleName}Repository<T extends ${moduleName}> extends BaseService<${moduleName}>{

    @Resource
    private ${moduleName}Repository<${moduleName}> ${lowModuleName}Repository;

    @Override
    public BaseRepository<${moduleName}> getBaseRepository() {return ${lowModuleName}Repository;}
}